@model IEnumerable<SistemaDeGestionDeCandidatos.Models.CandidateExperience>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id Candidate Experinces
            </th>
            <th>
               Id Candidate
            </th>
            <th>
               Candidate name
            </th>
            <th>
                Company
            </th>
            <th>
                Job
            </th>
            <th>
                Description
            </th>
            <th>
                Salary
            </th>
            <th>
                BeginDate
            </th>
            <th>
               EndDate
            </th>
            <th>
                InsertDate
            </th>
            <th>                
                ModifyDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCandidateExperience)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate.IdCandidate)
            </td>
            <td>
                @Html.Raw(string.Format("{0} {1}", item.Candidate.Name, item.Candidate.Surname))
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifyDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCandidateExperience">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCandidateExperience">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
